### Part 1: Step 1

In [4]:
import pandas as pd
import requests
from bs4 import BeautifulSoup
import datetime

In [6]:
### The following is probably the fastest, but gives an error
### tables = pd.read_html("https://www.spaceweatherlive.com/en/solar-activity/top-50-solar-flares")

response = requests.get('https://www.spaceweatherlive.com/en/solar-activity/top-50-solar-flares')
soup = BeautifulSoup(response.text, 'lxml')
table = soup.find('table')

In [8]:
def souptable(table):
    for row in table.find_all('tr'):
        yield [col.text for col in row.find_all('td')]

tables = list(souptable(table))

In [29]:
df = pd.DataFrame(tables)[1:]
df.head()

   0      1           2     3      4      5      6                   7
1  1  X28.0  2003/11/04  0486  19:29  19:53  20:06   MovieView archive
2  2  X20.0  2001/04/02  9393  21:32  21:51  22:03   MovieView archive
3  3  X17.2  2003/10/28  0486  09:51  11:10  11:24   MovieView archive
4  4  X17.0  2005/09/07  0808  17:17  17:40  18:03   MovieView archive
5  5  X14.4  2001/04/15  9415  13:19  13:50  13:55   MovieView archive

In [30]:
df.columns = ['rank', 'x_classification', 'date', 'region', 'start_time', 'maximum_time', 'end_time', 'movie']
df.head()

,rank,x_classification,date,region,start_time,maximum_time,end_time,movie
1,1,X28.0,2003/11/04,0486,19:29,19:53,20:06,MovieView archive
2,2,X20.0,2001/04/02,9393,21:32,21:51,22:03,MovieView archive
3,3,X17.2,2003/10/28,0486,09:51,11:10,11:24,MovieView archive
4,4,X17.0,2005/09/07,0808,17:17,17:40,18:03,MovieView archive
5,5,X14.4,2001/04/15,9415,13:19,13:50,13:55,MovieView archive

In [35]:
df.drop('movie', axis=1, inplace=True)
df.head()

  rank x_classification        date region start_time maximum_time end_time
1    1            X28.0  2003/11/04   0486      19:29        19:53    20:06
2    2            X20.0  2001/04/02   9393      21:32        21:51    22:03
3    3            X17.2  2003/10/28   0486      09:51        11:10    11:24
4    4            X17.0  2005/09/07   0808      17:17        17:40    18:03
5    5            X14.4  2001/04/15   9415      13:19        13:50    13:55

In [37]:
from datetime import datetime
df['Start_datetime']= pd.to_datetime(df['date'] + " " + df['start_time'])
df['Maximum_datetime']=pd.to_datetime(df['date'] + " " + df['maximum_time'])
df['End_datetime']=pd.to_datetime(df['date'] + " " + df['end_time'])
df.drop(['date','start_time','maximum_time','end_time'],axis=1,inplace=True)
df.head()

,rank,x_classification,region,Start_datetime,Maximum_datetime,End_datetime
1,1,X28.0,0486,2003-11-04 19:29:00,2003-11-04 19:53:00,2003-11-04 20:06:00
2,2,X20.0,9393,2001-04-02 21:32:00,2001-04-02 21:51:00,2001-04-02 22:03:00
3,3,X17.2,0486,2003-10-28 09:51:00,2003-10-28 11:10:00,2003-10-28 11:24:00
4,4,X17.0,0808,2005-09-07 17:17:00,2005-09-07 17:40:00,2005-09-07 18:03:00
5,5,X14.4,9415,2001-04-15 13:19:00,2001-04-15 13:50:00,2001-04-15 13:55:00

### Step 3: Scape the NASA Data

In [104]:
text = requests.get('https://cdaw.gsfc.nasa.gov/CME_list/radio/waves_type2.html').text
bs = BeautifulSoup(text, "html.parser")
lines = bs.text.split('\n')

import re
regExpression = re.compile('^\d{4}/\d{2}/\d{2} \d{2}:\d{2} \d{2}/\d{2}')
linesWithData = [l for l in lines if regExpression.match(l)]
nasaDF = pd.DataFrame([l.split() for l in linesWithData])

nasaDF2 = nasaDF.drop(range(15, 24), 1)
nasaDF2.columns = ['start_date', 'start_time', 'end_date', 'end_time', 'start_freq', 'end_freq', 
                            'loc', 'region', 'importance', 'cme_date','cme_time','cpa',
                            'cme_width','cme_speed','phtx']
nasaDF2.head()

,start_date,start_time,end_date,end_time,start_freq,end_freq,loc,region,importance,cme_date,cme_time,cpa,cme_width,cme_speed,phtx
0,1997/04/01,14:00,04/01,14:15,8000,4000,S25E16,8026,M1.3,04/01,15:18,74,79,312,PHTX
1,1997/04/07,14:30,04/07,17:30,11000,1000,S28E19,8027,C6.8,04/07,14:27,Halo,360,878,PHTX
2,1997/05/12,05:15,05/14,16:00,12000,80,N21W08,8038,C1.3,05/12,05:30,Halo,360,464,PHTX
3,1997/05/21,20:20,05/21,22:00,5000,500,N05W12,8040,M1.3,05/21,21:00,263,165,296,PHTX
4,1997/09/23,21:53,09/23,22:16,6000,2000,S29E25,8088,C1.4,09/23,22:02,133,155,712,PHTX

In [105]:
def setNaN(x):
    if x == '----' or x == '-----' or x == '--/--'or x =='--:--':
        return 'NaN'
    else:
        return x
nasaDF2 = nasaDF2.applymap(setNaN)
nasaDF2.head()

,start_date,start_time,end_date,end_time,start_freq,end_freq,loc,region,importance,cme_date,cme_time,cpa,cme_width,cme_speed,phtx
0,1997/04/01,14:00,04/01,14:15,8000,4000,S25E16,8026,M1.3,04/01,15:18,74,79,312,PHTX
1,1997/04/07,14:30,04/07,17:30,11000,1000,S28E19,8027,C6.8,04/07,14:27,Halo,360,878,PHTX
2,1997/05/12,05:15,05/14,16:00,12000,80,N21W08,8038,C1.3,05/12,05:30,Halo,360,464,PHTX
3,1997/05/21,20:20,05/21,22:00,5000,500,N05W12,8040,M1.3,05/21,21:00,263,165,296,PHTX
4,1997/09/23,21:53,09/23,22:16,6000,2000,S29E25,8088,C1.4,09/23,22:02,133,155,712,PHTX

In [87]:
nasaDF2['is_halo'] = nasaDF2.apply(lambda row: row['cpa'] == 'Halo',axis=1)
nasaDF2.loc[nasaDF2['cpa']=='Halo', 'cpa'] = 'NaN'
nasaDF2.head()

,start_date,start_time,end_date,end_time,start_freq,end_freq,loc,region,importance,cme_date,cme_time,cpa,cme_width,cme_speed,phtx,is_halo
0,1997/04/01,14:00,04/01,14:15,8000,4000,S25E16,8026,M1.3,04/01,15:18,74,79,312,PHTX,False
1,1997/04/07,14:30,04/07,17:30,11000,1000,S28E19,8027,C6.8,04/07,14:27,NaN,360,878,PHTX,True
2,1997/05/12,05:15,05/14,16:00,12000,80,N21W08,8038,C1.3,05/12,05:30,NaN,360,464,PHTX,True
3,1997/05/21,20:20,05/21,22:00,5000,500,N05W12,8040,M1.3,05/21,21:00,263,165,296,PHTX,False
4,1997/09/23,21:53,09/23,22:16,6000,2000,S29E25,8088,C1.4,09/23,22:02,133,155,712,PHTX,False

In [106]:
nasaDF2['cme_width_lower_bound'] = nasaDF2.apply(lambda row: row['cme_width'][0] == '>',axis=1)
nasaDF2['cme_width'] = nasaDF2['cme_width'].apply(lambda x: x[1:] if x[0] == '>' else x)
nasaDF2.head()

,start_date,start_time,end_date,end_time,start_freq,end_freq,loc,region,importance,cme_date,cme_time,cpa,cme_width,cme_speed,phtx,cme_width_lower_bound
0,1997/04/01,14:00,04/01,14:15,8000,4000,S25E16,8026,M1.3,04/01,15:18,74,79,312,PHTX,False
1,1997/04/07,14:30,04/07,17:30,11000,1000,S28E19,8027,C6.8,04/07,14:27,Halo,360,878,PHTX,False
2,1997/05/12,05:15,05/14,16:00,12000,80,N21W08,8038,C1.3,05/12,05:30,Halo,360,464,PHTX,False
3,1997/05/21,20:20,05/21,22:00,5000,500,N05W12,8040,M1.3,05/21,21:00,263,165,296,PHTX,False
4,1997/09/23,21:53,09/23,22:16,6000,2000,S29E25,8088,C1.4,09/23,22:02,133,155,712,PHTX,False

In [117]:
def get_startdatetime(row):
    if row['start_time'] != '24:00':
        return pd.to_datetime(str(row['start_date']) + " " + str(row['start_time']))
    else: 
        return pd.to_datetime(row['start_date']) + pd.tseries.offsets.DayOffset()
def get_enddatetime(row):
    if row['end_time'] != '24:00':
        return pd.to_datetime(str(row['start_date'])[:4] + '/' + str(row['end_date']) + " " + str(row['end_time']))
    else: 
        return pd.to_datetime(str(row['start_date'])[:4] + '/' + str(row['end_date'])) + pd.tseries.offsets.DateOffset()
def get_cmedatetime(row):
    if row['cme_time'] != '24:00':
        return pd.to_datetime(str(row['start_date'])[:4] + '/' + str(row['cme_date']) + " " + str(row['cme_time']))
    else: 
        return pd.to_datetime(str(row['start_date'])[:4] + '/' + str(row['cme_date'])) + pd.tseries.offsets.DateOffset()

nasaDF2['full_start_time'] = nasaDF2.apply(get_startdatetime, axis=1)
nasaDF2['full_end_time'] = nasaDF2.apply(get_enddatetime, axis=1)
nasaDF2['full_cme_time'] = nasaDF2.apply(get_cmedatetime, axis=1)

nasaDF2.drop(['start_time','start_date','end_time','end_date','cme_time','cme_date'], axis=1, inplace=True)

In [118]:
nasaDF2.head()

,start_freq,end_freq,loc,region,importance,cpa,cme_width,cme_speed,phtx,cme_width_lower_bound,full_start_time,full_end_time,full_cme_time
0,8000,4000,S25E16,8026,M1.3,74,79,312,PHTX,False,1997-04-01 14:00:00,1997-04-01 14:15:00,1997-04-01 14:15:00
1,11000,1000,S28E19,8027,C6.8,Halo,360,878,PHTX,False,1997-04-07 14:30:00,1997-04-07 17:30:00,1997-04-07 17:30:00
2,12000,80,N21W08,8038,C1.3,Halo,360,464,PHTX,False,1997-05-12 05:15:00,1997-05-14 16:00:00,1997-05-14 16:00:00
3,5000,500,N05W12,8040,M1.3,263,165,296,PHTX,False,1997-05-21 20:20:00,1997-05-21 22:00:00,1997-05-21 22:00:00
4,6000,2000,S29E25,8088,C1.4,133,155,712,PHTX,False,1997-09-23 21:53:00,1997-09-23 22:16:00,1997-09-23 22:16:00

### Analysis Question 1

In [123]:
def is_X_class(s):
    return not pd.isnull(s) and re.match("X", s) is not None
    
def class_to_float(s):
    return float(s[1:])

# boolean vector of whether the row is an X class or not, since all top 50 are X classes.
is_x = nasaDF2['importance'].apply(is_X_class)
is_x_df = nasaDF2[is_x]

# nasa_df[is_x_df['flare_classification'].apply(class_to_float).sort_values(ascending=False).index[:50]]

# convert all X classifications to floats, sort by the value and then take the first 50 indexes and index nasa_df
top_50_df = nasaDF2.loc[is_x_df['importance'].apply(class_to_float).sort_values(ascending=False).index[:50]]
top_50_df

,start_freq,end_freq,loc,region,importance,cpa,cme_width,cme_speed,phtx,cme_width_lower_bound,full_start_time,full_end_time,full_cme_time
242,10000,200,S19W83,10486,X28.,Halo,360,2657,PHTX,False,2003-11-04 20:00:00,2003-11-05 00:00:00,2003-11-05 00:00:00
119,14000,250,N19W72,9393,X20.,261,244,2505,PHTX,False,2001-04-02 22:05:00,2001-04-03 02:30:00,2001-04-03 02:30:00
234,14000,40,S16E08,10486,X17.,Halo,360,2459,PHTX,False,2003-10-28 11:10:00,2003-10-30 00:00:00,2003-10-30 00:00:00
128,14000,40,S20W85,9415,X14.,245,167,1199,PHTX,False,2001-04-15 14:05:00,2001-04-16 13:00:00,2001-04-16 13:00:00
235,11000,500,S15W02,10486,X10.,Halo,360,2029,PHTX,False,2003-10-29 20:55:00,2003-10-30 00:00:00,2003-10-30 00:00:00
8,14000,100,S18W63,8100,X9.4,Halo,360,1556,PHTX,False,1997-11-06 12:20:00,1997-11-07 08:30:00,1997-11-07 08:30:00
330,14000,250,S07E68,10930,X9.0,NaN,NaN,NaN,PHTX,False,2006-12-05 10:50:00,2006-12-05 20:00:00,2006-12-05 20:00:00
238,12000,250,S14W56,10486,X8.3,Halo,360,2598,PHTX,False,2003-11-02 17:30:00,2003-11-03 01:00:00,2003-11-03 01:00:00
290,14000,25,N14W61,10720,X7.1,Halo,360,882,PHTX,False,2005-01-20 07:15:00,2005-01-20 16:30:00,2005-01-20 16:30:00
360,16000,4000,N17W69,11263,X6.9,Halo,360,1610,PHTX,False,2011-08-09 08:20:00,2011-08-09 08:35:00,2011-08-09 08:35:00
333,16000,30,S05E64,10930,X6.5,NaN,NaN,NaN,PHTX,False,2006-12-06 19:00:00,2006-12-09 00:00:00,2006-12-09 00:00:00
319,10000,50,S12E67,10808,X6.2,Halo,360,2257,PHTX,False,2005-09-09 19:45:00,2005-09-09 22:00:00,2005-09-09 22:00:00
83,14000,80,N22W07,9077,X5.7,Halo,360,1674,PHTX,False,2000-07-14 10:30:00,2000-07-15 14:30:00,2000-07-15 14:30:00
123,14000,230,S21E31,9415,X5.6,Halo,360,1270,PHTX,False,2001-04-06 19:35:00,2001-04-07 01:50:00,2001-04-07 01:50:00
376,16000,30,N17E27,11429,X5.4,Halo,360,2684,PHTX,False,2012-03-07 01:00:00,2012-03-08 19:00:00,2012-03-08 19:00:00
137,8000,170,S17E34,9591,X5.3,Halo,360,1433,PHTX,False,2001-08-25 16:50:00,2001-08-25 23:00:00,2001-08-25 23:00:00
444,14000,100,S13E82,11990,X4.9,Halo,360,2147,PHTX,False,2014-02-25 00:56:00,2014-02-25 11:28:00,2014-02-25 11:28:00
195,11000,400,S13E72,10039,X4.8,Halo,360,2285,PHTX,False,2002-07-23 00:50:00,2002-07-23 04:00:00,2002-07-23 04:00:00
106,14000,7000,N18W38,9236,X4.0,Halo,360,980,PHTX,False,2000-11-26 17:00:00,2000-11-26 17:15:00,2000-11-26 17:15:00
240,6000,400,N08W77,10488,X3.9,293,103,1420,PHTX,False,2003-11-03 10:00:00,2003-11-03 12:30:00,2003-11-03 12:30:00
289,6100,1500,N15W25,10720,X3.8,Halo,360,2547,PHTX,False,2005-01-17 10:00:00,2005-01-17 10:35:00,2005-01-17 10:35:00
223,1000,200,S06W21,10365,X3.6,Halo,360,1366,PHTX,False,2003-05-28 01:00:00,2003-05-29 00:30:00,2003-05-29 00:30:00
162,14000,350,S26E90,9756,X3.4,Halo,360,2216,PHTX,False,2001-12-28 20:35:00,2001-12-29 03:00:00,2001-12-29 03:00:00
334,12000,150,S06W23,10930,X3.4,Halo,360,1774,PHTX,False,2006-12-13 02:45:00,2006-12-13 10:40:00,2006-12-13 10:40:00
194,10000,2000,SE90b,10039,X3.3,Halo,360,1941,PHTX,False,2002-07-20 21:30:00,2002-07-20 22:20:00,2002-07-20 22:20:00
405,16000,700,N08E77,11748,X3.2,Halo,360,2625,PHTX,False,2013-05-14 01:16:00,2013-05-14 02:35:00,2013-05-14 02:35:00
202,5000,400,S02W81,10069,X3.1,Halo,360,1913,PHTX,False,2002-08-24 01:45:00,2002-08-24 03:25:00,2002-08-24 03:25:00
404,16000,300,N11E85,11748,X2.8,Halo,360,1850,PHTX,False,2013-05-13 16:15:00,2013-05-13 19:10:00,2013-05-13 19:10:00
239,3000,1500,N10W83,10488,X2.7,304,65,827,PHTX,False,2003-11-03 01:15:00,2003-11-03 01:25:00,2003-11-03 01:25:00
19,14000,5000,S11W65,8210,X2.7,309,190,1099,PHTX,False,1998-05-06 08:25:00,1998-05-06 08:35:00,1998-05-06 08:35:00
286,3000,40,N15W05,10720,X2.6,Halo,360,2861,PHTX,False,2005-01-15 23:00:00,2005-01-15 00:00:00,2005-01-15 00:00:00
9,14000,7000,N17E63,8113,X2.6,98,91,441,PHTX,False,1997-11-27 13:30:00,1997-11-27 14:00:00,1997-11-27 14:00:00
144,7000,30,S16E23,9632,X2.6,Halo,360,2402,PHTX,False,2001-09-24 10:45:00,2001-09-25 20:00:00,2001-09-25 20:00:00
278,14000,1000,N09W49,10696,X2.5,Halo,360,3387,PHTX,False,2004-11-10 02:25:00,2004-11-10 03:40:00,2004-11-10 03:40:00
101,14000,200,N22W07,9236,X2.3,Halo,360,1245,PHTX,False,2000-11-24 15:25:00,2000-11-24 22:00:00,2000-11-24 22:00:00
73,14000,40,N20E18,9026,X2.3,Halo,360,1119,PHTX,False,2000-06-06 15:20:00,2000-06-08 09:00:00,2000-06-08 09:00:00
125,14000,100,S23W09,9415,X2.3,Halo,360,2411,PHTX,False,2001-04-10 05:24:00,2001-04-11 00:00:00,2001-04-11 00:00:00
347,16000,400,S20W12,11158,X2.2,Halo,360,669,PHTX,False,2011-02-15 02:10:00,2011-02-15 07:00:00,2011-02-15 07:00:00
362,16000,150,N14W18,11283,X2.1,Halo,360,575,PHTX,False,2011-09-06 22:30:00,2011-09-07 15:40:00,2011-09-07 15:40:00
320,14000,300,S13E47,10808,X2.1,Halo,360,1893,PHTX,False,2005-09-10 21:45:00,2005-09-10 01:00:00,2005-09-10 01:00:00
421,16000,200,S06E69,11882,X2.1,Halo,360,1081,PHTX,False,2013-10-25 15:08:00,2013-10-25 22:32:00,2013-10-25 22:32:00
7,14000,100,S14W33,8100,X2.1,Halo,360,785,PHTX,False,1997-11-04 06:00:00,1997-11-05 04:30:00,1997-11-05 04:30:00
287,14000,30,N15W25,10720,X2.0,Halo,360,2094,PHTX,False,2005-01-17 09:25:00,2005-01-17 16:00:00,2005-01-17 16:00:00
276,14000,60,N09W17,10696,X2.0,Halo,360,1759,PHTX,False,2004-11-07 16:25:00,2004-11-08 20:00:00,2004-11-08 20:00:00
100,14000,100,N20W05,9236,X2.0,Halo,360,1289,PHTX,False,2000-11-24 05:10:00,2000-11-24 15:00:00,2000-11-24 15:00:00
127,14000,7000,S19W43,9415,X2.0,Halo,360,1184,PHTX,False,2001-04-12 10:20:00,2001-04-12 10:40:00,2001-04-12 10:40:00
104,6000,2000,N20W23,9236,X1.9,Halo,360,671,PHTX,False,2000-11-25 19:00:00,2000-11-25 19:35:00,2000-11-25 19:35:00
191,14000,1500,N19W30,10030,X1.8,Halo,360,1099,PHTX,False,2002-07-18 07:55:00,2002-07-18 08:45:00,2002-07-18 08:45:00
102,4000,3000,N21W14,9236,X1.8,Halo,360,1005,PHTX,False,2000-11-24 22:24:00,2000-11-24 22:36:00,2000-11-24 22:36:00
49,14000,4000,N11E32,8731,X1.8,Halo,360,1250,PHTX,False,1999-10-14 09:10:00,1999-10-14 10:00:00,1999-10-14 10:00:00

In [121]:
is_x

0      False
1      False
2      False
3      False
4      False
5      False
6      False
7       True
8       True
9       True
10     False
11     False
12     False
13     False
14      True
15     False
16      True
17     False
18      True
19      True
20     False
21     False
22     False
23     False
24     False
25     False
26     False
27     False
28     False
29     False
       ...
452    False
453    False
454    False
455    False
456    False
457    False
458     True
459    False
460    False
461    False
462    False
463    False
464    False
465    False
466    False
467    False
468     True
469    False
470    False
471    False
472    False
473    False
474    False
475    False
476    False
477    False
478    False
479    False
480    False
481    False
Name: importance, dtype: bool